{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<head> 
    <style>
        div {
            margin: auto;
            width: 50%;
            padding: 30px;
            /* background-color: #dcdcdc; */
        }
    </style>
</head>

<div class = "login">

    <h1 class = "text-center">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="table table-borderless align top">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Login" class="btn btn-outline-primary" style="color: black; width: 200px; text-align: center;"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}" style="text-align: center;">Register Now</a>

</div>

{% endblock content %}